/*Estilos da Página index.html */
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    align-items: center;
}
body{
    background-color:rgb(158, 147, 146);
    margin: 0%;
}
.Vinição{
    background-color: rgb(36, 150, 116);
    height: 77px;

}
.Vinição li{
display: inline;
padding: 35px;
}
.Vinição ul{
    margin: 0%;
}
.Vinição li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.Vinição li a:hover{
    color: grey;
    font-size: 20px;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
    
}
.wh{
    width: 400px;
    height: 400px;
}
.tm-social{
    width:50px;
    height:50px;
}
.mb-40{
    margin-bottom: 40px;
}
/*
Estilos da Página contato.html
*/

#menu{
    display: flex;
    flex-flow: wrap;
    justify-content:left;
    align-items: left;
}


#menu{
    text-align: left;
   
}

.mb-40{
    margin-bottom: 40px;

}
#menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#menu{
    background-color:rgb(158, 147, 146);
    margin: 0%;
}
#menu{
    background-color: rgb(36, 150, 116);
    height: 77px;
}
#menu li{
    display: inline;
    padding: 35px;
}
/*